<div class="sidebar">
    <div class="logo-details">
      <i class=""></i>
      <span  routerLink="statistique"  class="logo_name "  style="cursor: pointer;">pënc</span>
    </div>
    <ul class="nav-links">
      <li>
        <a  class="active">
          <i class="bx bx-grid-alt"  style="cursor: pointer;"></i>
          <span class="menuItem" routerLinkActive="activeMenu" routerLink="statistique"  class="links_name" style="cursor: pointer;"> Statistique </span>
        </a>
      </li>
      <li>
        <a >
          <i class="bx bx-box"  style="cursor: pointer;"></i>
          <span class="menuItem" routerLinkActive="activeMenu" routerLink="domaineActivite"  class="links_name"  style="cursor: pointer;" >Domaines d'activités</span>
        </a>
      </li>

      <li>
        <a >
          <i class="bx bx-user"  style="cursor: pointer;"></i>
          <span class="menuItem" routerLinkActive="activeMenu" routerLink="utilisateurs"  class="links_name"  style="cursor: pointer;">Gestion utilisateurs</span>
        </a>
      </li>

      <li>
        <a >
          <i class="bx bx-pie-chart-alt-2"  style="cursor: pointer;"></i>
          <span class="menuItem" routerLinkActive="activeMenu" routerLink="forum"  class="links_name"  style="cursor: pointer;">Gestion forum </span>
        </a>
      </li>
      <li>
        <a >
          <i class="bx bx-list-ul"  style="cursor: pointer;"></i>
          <span class="menuItem" routerLinkActive="activeMenu" routerLink="sujets"  class="links_name"  style="cursor: pointer;">Gestion sujets</span>
        </a>
      </li>
     
     
     
     
      <li>
        <a >
          <i class="bx bx-message"  style="cursor: pointer;"></i>
          <span class="menuItem" routerLinkActive="activeMenu" routerLink="messages"  class="links_name"  style="cursor: pointer;">Messages</span>
        </a>
      </li>
      <li>
        <a >
          <!-- <i class="bx bx-heart"></i> -->
          <i class="bx bx-user-x"  style="cursor: pointer;"></i>
          <span class="menuItem" routerLinkActive="activeMenu" routerLink="utilisateursbloques"  class="links_name"  style="cursor: pointer;">Utilisateurs bloqués</span>
        </a>
      </li>
    
      <li class="log_out">
        <a (click)=" logout() ">
          <i class="bx bx-log-out"  style="cursor: pointer;"></i>
          <span class="menuItem" routerLinkActive="activeMenu" routerLink="accueil"  class="links_name"  style="cursor: pointer;">Log out</span>
        </a>
      </li>
    </ul>
  </div>