

















  <div class="col-12 pb-4" *ngFor="let message of messages">
    <!-- Affichez d'abord le message -->
    <div class="comment mt-4 text-justify float-left">
        <img src="https://i.imgur.com/yTFUilP.jpg" alt="" class="rounded-circle" width="40" height="40">&nbsp;&nbsp;
        <h5 class=""> {{message.infoUserMessage.firstname}} </h5>
        <span class="fw-bold"> &nbsp; {{ message.updated_at }}</span>
        <br>
        <p class="withText w-100 fs-6">{{ message.message_content }}</p>
        <div class="container withText">
          <div class="icons">
            <i class="fa-regular fa-thumbs-down" style="color: #0a2640;" (click)="dislike()"></i>
            <!-- <span>{{ dislikesCount }}</span> &nbsp; &nbsp; -->
            <i class="fa-regular fa-thumbs-up" style="color: #0a2640;" (click)="like()"></i>
            <!-- <span>{{ likesCount }}</span> -->
          </div>
          <a href="#" data-bs-toggle="modal" data-bs-target="#reponse" class="reply-link fs-6 fw-bold" style="color: #0a2640;">Répondre</a>
        </div>
      </div>
    
    
  
    <!-- Parcourez les réponses associées à ce message -->
    <div class="container" *ngIf="message.reponses && message.reponses.length > 0">
      <div class="row">
        <div class="col-12 pb-4" *ngFor="let reponse of message.reponses">
          <!-- Affichez chaque réponse associée à ce message -->
         
<div class="comment mt-4 text-justify float-left" style="margin-left: 60px;">
    <img src="https://i.imgur.com/yTFUilP.jpg" alt="" class="rounded-circle" width="40" height="40">&nbsp;&nbsp;
    <h5 class="">Jhon Doe</h5>
    <span class="fw-bold"> &nbsp; {{ reponse.updated_at }}</span>
    <br>
    <p class="withText w-100 fs-6">{{ reponse.reply_content }}</p>
    <div class="container withText">
      <div class="icons">
        <i class="fa-regular fa-thumbs-down" style="color: #0a2640;"></i>
        <i class="fa-regular fa-thumbs-up" style="color: #0a2640;"></i>
      </div>
      <a href="#" data-bs-toggle="modal" data-bs-target="#reponse" class="reply-link fs-6 fw-bold" style="color: #0a2640;">Répondre</a>
    </div>
  </div>
        </div>
      </div>
    </div>
  </div>
  