<div class="sidebar">
    <app-sidebar-admin></app-sidebar-admin>
</div>
  
  <!-- CONTENT -->
  <section class="home-section">
  <app-header-admin></app-header-admin>
  <!-- <router-outlet></router-outlet> -->

    <div class="home-content test">
  <router-outlet></router-outlet>
    </div>
  </section>

  <script>
    let sidebar = document.querySelector(".sidebar");
    let sidebarBtn = document.querySelector(".sidebarBtn");
    sidebarBtn.onclick = function () {
      sidebar.classList.toggle("active");
      if (sidebar.classList.contains("active")) {
        sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
      } else sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
    };
  </script>