.test{
    margin-top: -5vh;
    background-color: transparent !important;
}

.home-section{
    background-color: white !important;
}
.home-content{
    height: auto !important;
    /* height: 130vh !important; */
}