.test{
    margin-top: -5vh;
    background-color: transparent !important;
}

.home-section{
    background-color: white !important;
}
.home-content{
    height: auto !important;
    /* height: 130vh !important; */
}



/* @media  screen and (max-width: 700px) {

    .nav-admin{
      margin-top: 90% !important;
      background-color: red !important;
      background: fixed !important;
    }

} */